# auth
JWT_SECRET_KEY=my-super-hard-review-secret-key-for-service

# logging
LOG_LEVEL=DEBUG
LOG_FORMAT=console

LOG_LOKI_URL=localhost
LOG_LOKI_ENABLED=false
LOG_LOKI_BATCH_SIZE=50
LOG_LOKI_MAX_BUFFER_SIZE=1000
LOG_LOKI_FLUSH_INTERVAL=5.0


# application
APP=backend
ENV=test