# auth
AUTH_SECRET_KEY=my-super-hard-review-secret-key-for-service

# logging
LOG_LEVEL=DEBUG
LOG_FORMAT=console

LOG_LOKI_URL=localhost
LOG_LOKI_ENABLED=false
LOG_LOKI_BATCH_SIZE=50
LOG_LOKI_MAX_BUFFER_SIZE=1000
LOG_LOKI_FLUSH_INTERVAL=5.0


# application
APP=backend
ENV=dev


# AI
AI_LLM_API_ENDPOINT=...
AI_LLM_API_KEY=...
AI_LLM_DEFAULT_MODEL=...
AI_LLM_DEFAULT_MODEL_INPUT_TOKEN_PRICE=10
AI_LLM_DEFAULT_MODEL_OUTPUT_TOKEN_PRICE=10


# S3
S3_ENDPOINT=...
S3_ACCESS_KEY=...
S3_SECRET_KEY=...
S3_BUCKET=...
S3_USE_SSL=False
MINIO_ROOT_USER=...
MINIO_ROOT_PASSWORD=...


# Email
EMAIL_FROM=...
EMAIL_FROM_DISPLAY_NAME=...
EMAIL_MAILEROO_API_KEY=...


# Redis
REDIS_HOST=...
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=...